@import "tailwindcss";

:root {
  --background:white;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background:white;/* #0a0a0a;*/
    --foreground:black; /*#ededed;*/
  }
}
typography {
  font-family: 'var(--font-outfit)',
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Outfit,Helvetica, sans-serif;
}
